input,
textarea {
    border: 1px solid #ccc;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 1em;
    color: #666;
}

::-moz-selection {
    background: #777;
    color: #FFF;
}

::selection {
    background: #777;
    color: #FFF;
}

::-moz-selection {
    background: #999;
    color: #FFF;
}

::-webkit-input-placeholder {
    color: #ccc;
}

::-moz-placeholder {
    color: #ccc;
}

:-ms-input-placeholder {
    color: #ccc;
}

input:-moz-placeholder {
    color: #ccc;
}

kbd {
    padding: 0px 7px;
    background: #666;
    color: #fff;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgb(108, 108, 108);
    box-shadow: 1px 1px 1px rgb(87, 87, 87), 2px 2px 5px rgb(255, 255, 255);
    margin: 3px;
    font-size: 1.25em;
    font-family: Consolas, Monaco, monospace;
}

.error {
    background: #cf2c19;
    color: #fff;
}

.warn {
    background: #8d9517;
    color: #fff;
}


/* 按钮 */

.button {
    background: #1995cf;
    border-radius: 3px;
    color: #fff;
    padding: 4px 8px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.button:active {
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, .1);
    color: #eee;
}