body {
    margin: 100px;
    font-size: 16px;
    color: #666;
}

li div {
    margin-right: 15px;
}

li {
    width: 650px;
    list-style: none;
    display: block;
    margin-top: 10px;
}

.inline-block * {
    display: inline-block;
}

.button {
    margin: 10px;
    background: #1995cf;
    padding: 8px 10px;
    color: #fff;
    border-radius: 4px;
}

.code {
    font-family: Consolas, Monaco, monospace;
}

.uncode li input[type="checkbox"] {
    width: initial;
    margin-right: 5px;
}

input+label {
    cursor: pointer;
}

input:disabled {
    cursor: not-allowed;
}

input:disabled+label {
    opacity: .7
}