body {
    margin: 100px;
    font-size: 16px;
    color: #666;
}

input#calc {
    width: 250px;
    height: 30px;
}

#calc_result {
    margin: 10px;
    background: #1995cf;
    padding: 8px 10px;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 1.5px;
    border-radius: 4px;
}

#calc_tip,
#hex_tip {
    margin: 10px 0;
    padding: 3px 8px;
    border-radius: 2px;
    width: 400px;
}

#calc_tip_sub {
    margin: 10px 0;
    padding: 3px 8px;
    border-radius: 2px;
    width: 250px;
}

#hex_tip kbd {
    background: #eee;
    color: #555;
    text-shadow: 1px 1px 1px rgba(71, 71, 71, 0.25);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

#calc_his {
    list-style: none;
    border: 1px solid #ccc;
    padding: 0;
    border-radius: 5px;
    font-size: 1em;
    color: #666;
    width: 400px;
}

#calc_his li {
    padding: 6px 7px;
    background: #fffcc9;
    line-height: 1em;
    height: 22px;
    overflow: hidden;
    width: initial;
    margin-top: 0;
}

#calc_his li+li {
    border-top: 1px #ccc solid;
}

#calc_his li:first-child {
    border-radius: 5px 5px 0 0;
}

#calc_his li:nth-child(n+6) {
    display: none;
}

#calc_his li span {
    line-height: 1.6em;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
}

.myInput_his {
    max-width: 263px;
}

.result_his {
    max-width: 77px;
}

.index_his,
.index_his_tip {
    color: #ccc;
    border-left: 1px solid #ccc;
    font-size: .8em;
    float: right;
    padding-left: 5px;
    line-height: 1.8em !important;
}

.his_tip {
    padding: 6px 7px;
    border-top: 1px #ccc solid;
}

#calc_toggle,
.index_his {
    float: right;
}

#calc_his li.input_his,
.his_tip>span {
    cursor: pointer;
    vertical-align: middle;
}

.his_tip>span {
    padding: 2px 8px;
}

.his_tip>span:hover {
    background: #1995cf;
    border-radius: 3px;
    color: #fff;
}

#calc_his li.input_his:hover {
    background: #d8ffc9;
}

#calc_his li.input_his:hover .index_his {
    display: none;
}

#calc_his li:hover .index_his_tip {
    color: #666;
}

#calc_his li:not(.input_his):hover .index_his_tip {
    display: none;
}


/* 进制转换 */

#hex ul {
    margin: 15px 0;
    padding: 0;
}

#hex li {
    width: 150px;
    list-style: none;
    display: inline-block;
}

#hex li input {
    width: 100px;
    margin-top: 10px;
    text-transform: uppercase;
}

.uncode li {
    width: 650px;
    list-style: none;
    display: block;
    margin-top: 10px;
}

.uncode li input,
.uncode li textarea {
    width: 500px;
}

.uncode li input,
.uncode li div {
    display: inline-block;
    margin-right: 15px;
}

.uncode li textarea {
    display: block;
    margin-top: 10px;
}


/* svg img */

.svgimg textarea {
    width: 500px;
    height: 140px;
    margin: 10px 0;
}